/******************************************
COLORS:
  brown     #422825
  med green #74A588 rgb(116, 165, 136)
  beige  #D6CCAD rgb(214, 204, 173)
  peach     #DC9C76
  coral     #D6655A
*******************************************/




* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
  color: #422825;
}
h1 {
  font-family: 'Montez', cursive;
  font-size: 5em;
  color: #D6655A;
  margin-bottom: 0.25em;
}
h2 {
  font-size: 1.5em;
  color: #74A588;
}
h3 {
  margin: 0.25em 0;
  font-size: 0.9em;
}
header {
  text-align: center;
}
button {
  background-color: #D6655A;
  border-radius: 50%;
  border: ;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
  border: 3px solid #74A588;
}
#intro {
  width: 60%;
  margin: auto;
  background-color: rgba(214, 204, 173, 0.4);
  border-radius: 6px;
  padding: 0 0.3em 0.1em 0.3em;
  border: 1px solid rgb(214, 204, 173);
}
#intro h2 {
  text-align: center;
  padding-top: 0.5em;
}
#intro button {
  width: 100%;
  margin: auto;
  margin-top: 3em;
}
#intro p {
  width: 90%;
  margin: auto;
}

#main {
  text-align: center;
  display: none;
  width: 60%;
  margin: auto;
}
#computer {
  float: right;
  width: 50%;
}
#player {
  float: left;
  width: 50%;
}
.wrapper {
  width: 80%;
  text-align: center;
  margin: auto;
}

#player-placeholder, #computer-placeholder {
  height: 200px;
  width: 200px;
  margin: 10px auto;
  border: 1px solid #D6655A;
  border-radius: 10px;
  background-color: #D6CCAD;
  position: relative; 
}

#computer-status {
  background-color: rgba(116, 165, 136, 0.2);
  font-weight: bold;
  font-size: 1em;
  padding: 1.6em;
  border-radius: 50px;
  width: 90%;
  margin: auto;
}

#computer-span, #message {
  color: #74A588;
  font-size: 0.8em;
  text-transform: uppercase;
  display: inline;
  margin: 1em 0 0 0;
}

/******************************************
THE DIE
*******************************************/

.dot {
  background-color: #DC9C76;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.middle {
  top: 80px;
}

.bottom {
  bottom: 27px;
}

.right {
  right: 40px;
}

.left {
  left: 40px;
}

.top {
  top: 27px;
}

.center {
  top: 80;
  right:80;
}