/******************************************
COLORS:
  brown     #422825
  med green #74A588
  beige  #D6CCAD rgb(214, 204, 173)
  peach     #DC9C76
  coral     #D6655A
*******************************************/




* {
  box-sizing: border-box;
}
body {
  font-family: 'Anonymous Pro', Helvetica, Arial, sans-serif;
  color: #422825;
}
h1 {
  font-family: 'Montez', cursive;
  font-size: 5em;
  color: #D6655A;
}
header {
  text-align: center;
}
button {
  background-color: #D6655A;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#intro {
  width: 60%;
  margin: auto;
  background-color: rgba(214, 204, 173, 0.4);
  border-radius: 6px;
}
#intro h2 {
  text-align: center;
  padding-top: 0.5em;
}
#intro button {
  width: 100%;
  margin: auto;
  margin-top: 3em;
}
#intro p {
  width: 90%;
  margin: auto;
}

main {
  text-align: center;
  display: none;
}
#computer {
  float: right;
}
#player {
  float: left;
}
.wrapper {
  width: 80%;
  text-align: center;
  margin: auto;
}

#player-placeholder, #computer-placeholder {
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border: 1px solid #D6655A;
  border-radius: 10px;
  background-color: #D6CCAD;
  position: relative; 
}

/******************************************
THE DIE
*******************************************/

.dot {
  background-color: #DC9C76;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.middle {
  top: 80px;
}

.bottom {
  bottom: 27px;
}

.right {
  right: 40px;
}

.left {
  left: 40px;
}

.top {
  top: 27px;
}

.center {
  top: 80;
  right:80;
}